/*include font family
========================
*/

@font-face {
    src: url(assets/webfonts/Roboto-Light.ttf);
    font-family: Roboto-light;
}

@font-face {
    src: url(assets/webfonts/Roboto-Bold.ttf);
    font-family: Roboto-bold;
}

@font-face {
    src: url(assets/webfonts/Roboto-Medium.ttf);
    font-family: Roboto-medium;
}

@font-face {
    src: url(assets/webfonts/Lato-Regular);
    font-family: Lato;
}