/* header area section 
=======================
*/

.header-area {
    border-top: .2rem solid $color-green;
}

.phone,
.email {
    width: 23.0rem;
    float: left;
    border-left: .1rem solid $border-color;
    padding: .7rem 0rem .7rem 1.0rem;
    line-height: initial;
    cursor: pointer;
}

.top-header {
    background: $color-white;
    overflow: hidden;
    color: $font-color;
    font-size: 1.6rem;
}

.email {
    width: 30.0rem;
    float: left;
}

.phone span,
.email span {
    font-size: 1.4rem;
    cursor: auto;
    transition: 0.5s;
}

.phone span:hover,
.email span:hover {
    color: $color-green;
}

.social-link {
    width: 11.0rem;
    float: right;
}

.social-link a {
    display: block;
    float: left;
    padding: .5rem 1.0rem;
    border-left: .1rem solid $border-color;
    color: $font-color;
    transition: .5s;
}

.social-link a:last-child {
    border-right: .1rem solid $border-color;
}

.social-link a:hover {
    color: $color-green;
}

.main-header {
    background: $color-green;
}

.logo {
    width: 13.0rem;
    float: left;
    font-size: 3.0rem;
    font-weight: bold;
    color: $color-white;
    font-family: $roboto-b;
    padding-top: .7rem;
}

.logo span {
    font-size: 2.5rem;
    display: block;
    text-align: right;
    margin-top: -1.0rem;
}

.header-info {
    text-decoration: none;
    list-style: none;
    float: left;
    margin: 0;
    text-align: right;
    padding: 2.5rem 0rem;
}

.header-info li {
    display: inline;
}

.header-info li a {
    color: $color-white;
    font-size: 2.5rem;
    cursor: pointer;
    margin: 0 .5rem;
    transition: .5s;
    position: relative;
    text-decoration: none;
}

.header-info li a span {
    position: absolute;
    top: -1rem;
    right: -1.3rem;
    font-size: 12px;
    width: 1.7rem;
    height: 1.7rem;
    border-radius: 50%;
    text-align: center;
    color: $color-white;
    line-height: 1.7rem;
}

.search-input {
    float: right;
    margin-top: 2.4rem;
    text-align: right;
}

.search-input input[type="text"],
.search-input input[type="submit"] {
    border: none;
    padding: .8rem 1.0rem;
    border-radius: 1.0rem 0 0 1.0rem;
}

#searchInput {
    width: 25rem;
}

.search-input input[type="submit"] {
    border-radius: 0 1.0rem 1.0rem 0;
    margin-left: -.4rem;
    color: $color-white;
    transition: .5s;
    background: linear-gradient(to top, #1a7349, rgb(29, 191, 115), #74c8a0);
}

.search-input input[type="submit"]:hover {
    background: linear-gradient(to top, #74c8a0, rgb(29, 191, 115), #1a7349);
    color: $color-white;
}

.header-info li a:hover {
    color: $primary-color;
}

.header-info li a:focus {
    color: $primary-color;
}

.drop_menu {
    position: relative;
}

.dropdown_menu {
    position: absolute;
    left: 0;
    top: 3.5rem;
    display: none;
    background: $bg-color;
    z-index: 1000;
    line-height: normal;
    text-align: left;
    padding: .5rem 1.0rem;
    box-shadow: 0 0 .5rem 0 $font-color;
    border-radius: .4rem;
}

.dropdown_menu li a {
    font-size: 2rem;
    text-transform: capitalize;
    color: $font-color;
}

.dropdown_menu li {
    border-bottom: .1rem solid $border-color;
    display: block;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
}

.dropdown_menu li:last-child {
    border: none;
    padding: 0;
}

#cat-menu {
    width: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-cat {
    background: linear-gradient(to top, #1a7349, rgb(29, 191, 115), #1dbf73);
    overflow: hidden;
    font-family: $roboto-m;
}

#cat-menu li a {
    text-decoration: none;
    color: $color-white;
    transition: .5s;
}

#cat-menu li:first-child {
    border: none;
}

#cat-menu li {
    padding: 1.0rem 2.0rem;
    border-left: .1rem solid $border-color;
    cursor: pointer;
    transition: 0.5s;
}

#cat-menu li:hover {
    background: linear-gradient(to top, #1dbf73, rgb(29, 191, 115), #1a7349);
}

// #cat-menu li:hover a {
//     color: $color-green;
// }