/* slider area
===============
*/

.slider-area-sec img {
    width: 100%;
    height: 30.0rem;
}

.owl-nav button {
    position: absolute;
    left: 8rem;
    top: 50%;
    transform: translateY(-50%);
}

.owl-theme .owl-nav {
    margin: 0;
}

.owl-nav span {
    font-size: 6rem;
    color: white;
    opacity: .3;
    transition: .5s;
}

.owl-nav span:hover {
    opacity: 1;
}

.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
    background: none!important;
    outline: none;
}

.owl-nav button.owl-next {
    right: 8rem;
    left: auto;
}

.slider-area-sec .owl-dots {
    display: none;
}