$roboto-l: Roboto-light,
sans-serif;
$roboto-b: Roboto-bold,
sans-serif;
$roboto-m: Roboto-medium,
sans-serif;
$lato-r: Lato,
sans-serif;
$primary-color: #444;
$color-red: #DF3500;
$bg-color: #f1f1f1;
$color-white: #fff;
$font-color: #7a7d85;
$color-green: #1dbf73;
$border-color: #ddd;